<hmtl>
		<form action="/" method="post">
			<h1>Abuela Sorda</h1>
			Di algo Abuela:
			<input type="text" name="frase"></input>   
			<input type="submit" value="Dilo!!"></input>   
		</form>
</hmtl>



